@import "./fonts.scss";
@import "./mixins.scss";

@import "./base.scss";
@import "./blocks/steps.scss";
@import "./blocks/step.scss";
@import "./blocks/button.scss";

@include margin;

$background-color: #F0F4FF;

.body {
    width: 100%;
    height: 100%;
    background-color: $background-color;
}

.page {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1320px) {
        height: auto;
    }
}

.main {
    width: fit-content;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 32px;
}